<mat-card class="cardWithShadow theme-card">
    <mat-card-header>
        <mat-card-title class="m-b-0">Centres</mat-card-title>
    </mat-card-header>
    <mat-card-content class="b-t-1">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Rechercher un centre</mat-label>
            <input
                    matInput
                    (input)="onSearchInput($event)"
                    placeholder="Nom ou ville"
            />
        </mat-form-field>

        <ng-container *ngIf="filteredCentres.length > 0; else noCentres">
            <mat-chip-listbox aria-label="Centres">
                <mat-chip
                        *ngFor="let centre of filteredCentres"
                        class="f-s-14"
                        color="primary"
                        (click)="loadMedecins(centre.id)"
                >
                    {{ centre.name }} - {{ centre.address?.city }} ({{ centre.address?.postalCode }})
                </mat-chip>
            </mat-chip-listbox>
        </ng-container>
        <ng-template #noCentres>
            <p>Aucun centre trouvé.</p>
        </ng-template>
    </mat-card-content>
</mat-card>

<mat-card *ngIf="medecins.length > 0" class="cardWithShadow theme-card">
    <mat-card-header>
        <mat-card-title class="m-b-0">Médecins du Centre Sélectionné</mat-card-title>
    </mat-card-header>
    <mat-card-content class="b-t-1">
        <mat-list>
            <mat-list-item *ngFor="let medecin of medecins">
                {{ medecin.name }}
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>

<p *ngIf="selectedCentreId && medecins.length === 0">
    Aucun médecin trouvé pour ce centre.
</p>
