<mat-card class="cardWithShadow theme-card">
    <mat-card-header>
        <mat-card-title class="m-b-0">Centres</mat-card-title>
    </mat-card-header>
    <mat-card-content class="b-t-1">
        <!-- Barre de recherche -->
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Rechercher un centre</mat-label>
            <input
                    matInput
                    (input)="onSearchInput($event)"
                    placeholder="Nom ou ID"
            />
        </mat-form-field>

        <!-- Liste des centres -->
        <ng-container *ngIf="filteredCentres.length > 0; else noCentres">
            <mat-chip-listbox aria-label="Centres">
                <mat-chip *ngFor="let centre of filteredCentres" class="f-s-14" color="primary">
                    {{ centre.name }} -
                    <span *ngIf="centre.address; else noAddress">
        {{ centre.address.city }}
      </span>
                    <ng-template #noAddress>
                        <em>Adresse non disponible</em>
                    </ng-template>
                </mat-chip>
            </mat-chip-listbox>
        </ng-container>
        <ng-template #noCentres>
            <p>Aucun centre trouvé.</p>
        </ng-template>
    </mat-card-content>
</mat-card>
