<mat-card class="cardWithShadow theme-card">
    <mat-card-header>
        <mat-card-title class="m-b-0">Centres</mat-card-title>
    </mat-card-header>
    <mat-card-content class="b-t-1">
        <!-- Barre de recherche -->
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Rechercher un centre</mat-label>
            <input
                    matInput
                    (input)="onSearchInput($event)"
                    placeholder="Nom ou ID"
            />
        </mat-form-field>

        <!-- Liste des centres -->
        <div class="row">
            <div
                    class="col-sm-6 col-lg-3"
                    *ngFor="let centre of filteredCentres"
            >
                <mat-card class="cardWithShadow productcard overflow-hidden">
                    <mat-card-content class="p-b-24 p-t-12 position-relative">
                        <mat-card-title class="mat-headline-2 f-s-16 m-b-4">
                            {{ centre.name }}
                        </mat-card-title>
                        <p *ngIf="centre.address">
                            {{ centre.address.street }}, {{ centre.address.city }}
                            ({{ centre.address.postalCode }})
                        </p>
                        <p *ngIf="!centre.address">
                            <em>Adresse non disponible</em>
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <ng-template #noCentres>
            <p>Aucun centre trouvé.</p>
        </ng-template>
    </mat-card-content>
</mat-card>
