<mat-card class="cardWithShadow theme-card">
    <mat-card-header>
        <mat-card-title class="m-b-0">Médecins</mat-card-title>
    </mat-card-header>
    <mat-card-content class="b-t-1">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Rechercher un médecin</mat-label>
            <input
                    matInput
                    (input)="searchMedecins($event)"
                    placeholder="Entrez un prénom ou un nom"
            />
        </mat-form-field>

        <ng-container *ngIf="filteredMedecins.length > 0; else noMedecins">
            <mat-card *ngFor="let medecin of filteredMedecins" class="b-1 shadow-none">
                <mat-card-content>
                    <p>
            <span class="f-w-500 text-muted">
              {{ medecin.firstname }} {{ medecin.lastname }}
            </span>
                    </p>
                </mat-card-content>
            </mat-card>
        </ng-container>

        <ng-template #noMedecins>
            <p>Aucun médecin trouvé.</p>
        </ng-template>
    </mat-card-content>
</mat-card>
