<div class="flex-layout">
    <app-branding></app-branding>
    <mat-nav-list class="sidebar-list">
        <app-nav-item *ngFor="let item of navItems" [item]="item"> </app-nav-item>
    </mat-nav-list>
    <div class="blank-layout-container">

    </div>
    <div class="p-24 sidebar-image-container">
        <img
                src="/assets/images/backgrounds/vaccine.png"
                alt="vaccine image"
                class="side-img"
        />
    </div>
</div>

<style>
    .sidebar-image-container {
        width: 100%; /* Prend toute la largeur disponible */
        display: flex;
        justify-content: center; /* Centre horizontalement */
        align-items: center; /* Centre verticalement */
        padding: 10px; /* Ajoute un peu d'espace autour de l'image */
    }

    .side-img {
        width: 100%; /* Réduit la taille de l'image */
        max-width: 1000px; /* Définit une taille max */
        height: auto; /* Maintient le ratio */
        object-fit: contain; /* Empêche la déformation */
    }
</style>
