<mat-card class="cardWithShadow theme-card">
    <mat-card-header>
        <mat-card-title class="m-b-0">Médecins</mat-card-title>
    </mat-card-header>
    <mat-card-content class="b-t-1">
        <ng-container *ngIf="medecins.length > 0; else noMedecins">
            <mat-card *ngFor="let medecin of medecins" class="b-1 shadow-none">
                <mat-card-content>
                    <p>
            <span class="f-w-500 text-muted">
              {{ medecin.nom }}
            </span>
                    </p>
                </mat-card-content>
            </mat-card>
        </ng-container>
        <ng-template #noMedecins>
            <p>Aucun médecin trouvé.</p>
        </ng-template>
    </mat-card-content>
</mat-card>
